nav{
    float: right;
    vertical-align: middle;
    margin-right: 0;
}
nav ul{
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
.nav__item {
    float: left;
}
.nav__item a {
    border: 0.1em solid transparent;
    color: #fff;
    display: block;
    text-align: center;
    padding: 1em;
    text-decoration: none;
}
.nav__item:hover {
    border: 0.1em solid #fff;
}
.selected{
    border: 0.1em solid #fff;
    margin-right: 0.1em;
}
@media screen and (max-width: 980px){
    nav{
        display: none;
    }
}
