@media screen and (max-width: 980px){
    header{
        padding: 0.3em 1em;
    }
    nav{
        display: none;
    }
    .btn-transparent{
        margin-bottom: 0.5em;
    }
    .hero__text,.showcase-text,.showcase-item__text,
    .video-content-text,.newsletter-content,
    .footer-nav,.footer-copy{
        font-size: 0.8em;
    }
    .hero__text{
        margin-top: 40%;
    }
    .showcase{
        margin-bottom: 2em;
    }
    .video-content-vid,.video-content-text{
        display: block;
        width: 100%;
    }
    .video-content-vid__img{
        width: 100%;
    }
    .video-content-vid__nav{
        margin-left: 0;
    }
    .newsletter{
        background-size: cover;
        width: 100%;
    }
    .newsletter-subscribe{
        padding: 0 1em;
    }
    .newsletter input[type=text], .newsletter button{
        margin-bottom: 0.5em;
        width: 90%;
    }
    .footer-social{
        padding: 4em 0 0 0;
    }
    .footer-social img{
        margin-left: 1em;
        margin-right: 1em;
    }
    .footer-nav{
        display: block;
    }
    .footer-nav-item{
        float: none;
        width: 100%;
    }
}
