*{
    font-family: Helvetica,sans-serif;
    font-size: 1em;
}
header{
    color: #fff;
    max-width: 100%;
    padding: 0.3em 3em;
    overflow: hidden;
    position: absolute;
    vertical-align: middle;
    width: 90%;
    z-index: 9;
}
h3{
    font-size: 1.5em;
    font-weight: normal;
}
footer{
    background-color: #38CD8A;
    color: #fff;
    margin: 0 auto;
    text-align: center;
}
.header__logo{
    float: left;
}
.register{
    background-color: #38CD8A !important;
    border: 0.1em solid #38CD8A !important;
    border-bottom: 0.2em solid #269362 !important;
}
.subscribe{
    background-color: #2797FF !important;
    border: 0.1em solid #2797FF !important;
    border-bottom: 0.2em solid #2276C4 !important;
}
.clear{
	clear: both;
}
.hero{
    background-image: url(../img/main.png);
    background-repeat: no-repeat;
    color: #fff;
    height: 100%;
	overflow: hidden;
	position: relative;
	max-width: 100%;
    text-align: center;
}
.hero__text{
    margin-top: 25%;
    opacity: 1 !important;
    position: absolute;
    width: 100%;
    z-index: 9;
}
.hero__background-over{
    background-color: black;
    height: 100%;
    opacity: 0.4;
    position: absolute;
    width: 100%;
    z-index: 8;
}
.btn-transparent{
    background-color: transparent;
    border: 0.1em solid #fff;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    padding: 1em;
    text-decoration: none;
    width: 15em;
}
.divdash{
    color: #FBFBFB;
    margin: 1em auto;
    width: 5em;
}
