.video{
    margin-top: 2em;
    position: relative;
    text-align: center;
}
.video-content{

}
.video-content-vid{
    float: left;
}
.video-content-text{
    padding: 2.5em 4em;
    top: 1.5em;
}
.video-bg{
    position: absolute;
}
.video-bg__image{
    height: auto;
    opacity: 0.3;
    top: 0;
    width: 100%;
}
